:root {
    --bg-color: #ebebeb;
    --text-color: #000000;
    --nav-bg: #f8f9fa;
    --nav-text: #000000;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
    --nav-bg: #2c2c2c;
    --nav-text: #ffffff;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
.container{
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: var(--nav-bg) !important;
}

.nav-link {
  color: var(--nav-text) !important;
}

#themeIcon {
  color: var(--nav-text);
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: var(--text-color);
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: var(--nav-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}

/*new*/
.add-btn{
  background-color: #fe424d !important;
border: none !important;
opacity:1;
}
.add-btn:hover{
  opacity:0.8;
  background-color: #fe424d !important;

}
/*edit*/
.edit-btn{
  background-color: #fe424d !important;
border: none !important;
opacity:1;
}
.edit-btn:hover{
  opacity:0.8;
  background-color: #fe424d !important;

}
/*show*/
.show-img{
  height: 30vh;
}

input::placeholder ,
textarea::placeholder{
  color: var(--text-color) !important;
}

.filters {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 65%;

  
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.filter-input, .slider {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-group {
  display: flex;
  gap: 10px;
}

.apply-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.reset-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
